---
export const fragment = `
    title,
    subtitle
`;

const { title, subtitle } = Astro.props;
---

<hero-section>
  <h1>{title}</h1>
  <h2>{subtitle}</h2>
</hero-section>

<script>
  class HeroSection extends HTMLElement {
    constructor() {
      super();

      // do stuff with this component
    }
  }

  customElements.define("hero-section", HeroSection);
</script>
