<header>
  <div class="logo">
    <img src="/images/stampworks.svg" alt="Stampworks® Logo" />
  </div>
</header>

<style>
  header {
    @apply py-6 px-8 fixed top-0 left-0 w-full;
  }
  .logo img {
    @apply h-8 block w-auto;
  }
</style>
