---
import {
  getPageModuleComponents,
  getPageModuleFragments,
} from "../lib/helpers";
console.log(getPageModuleFragments());

const { sections } = Astro.props;
const components = getPageModuleComponents();
console.log({ sections, components });
---

<div>
  {
    sections.map((section) => {
      console.log(section._type);
      const Component = components[section._type];

      return <Component {...section} />;
    })
  }
</div>
